<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ChatSpace</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body class="cf" >
  	<header>
  		<p>チャットグループが作成されました。</p>
  	</header>
  	<div class="sidebar">
      <div class ="user-content cf">
        <div class="name-bar">
          <h2>Taro Yamada</h2> 
          <a class ="user_chat" href="#">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <a class ="user_edit" href="#">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </a>
        </div>  
      </div>
      <div class ="group-content">
        <a class ="group" href="#">
          <p class = "group-name">GROUP1</p>
          <p class ="group-new_comment">おはようございます。</p>
        </a>
        <a class ="group" href="#">
          <p class = "group-name">GROUP1</p>
          <p class ="group-new_comment">おはようございます。</p>
        </a>
        <a class ="group" href="#">
          <p class = "group-name">GROUP1</p>
          <p class ="group-new_comment">おはようございます。</p>
        </a>
        <a class ="group" href="#">
          <p class = "group-name">GROUP1</p>
          <p class ="group-new_comment">おはようございます。</p>
        </a>
      </div> 
    </div>
  	<div class="main-content">
      <div class="group-name-bar ">
        <div class="name-plate cf">
          <div class="name-bar">
            <h2>GROUP1</h2>
            <p>MEMBER: Taro Yamada</p>
          </div>  
          <a class= "edit-button" href="#">edit</a>
        </div>  
      </div> 
      <div class="group-main-content cf">
        <div class="user_name">USER_NAME</div>
        <div class="date">2000/01/01/00:00:00</div>
      </div>
      <div class="comment">今日もおつかれさま！！</div>
      <div class="group-main-content cf">
        <div class="user_name">USER_NAME</div>
        <div class="date">2000/01/01/00:00:00</div>
      </div>
      <div class="comment">今日もおつかれさま！！</div>
      <div class="group-main-content cf">
        <div class="user_name">USER_NAME</div>
        <div class="date">2000/01/01/00:00:00</div>
      </div>
      <div class="comment">今日もおつかれさま！！</div>

      <div class="group-comment-area">
        <div class="user_form cf">
          <div class="type-area">
              <textarea placeholder="type a message"></textarea>
              <a class ="picture_button" href="#">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
              </a>
          </div>
          <div class="send_button">
            <input type="submit" name="send" value="send">
          </div>
        </div>  
      </div>
    </div>
  </body>
    
</html>

