.main-content
  .group-name-bar
    .name-plate.cf
      .name-bar
        %h2 GROUP1
        %p MEMBER: Taro Yamada
      %a.edit-button{:href => "#"} edit
  .group-main-content.cf
    .user_name USER_NAME
    .date 2000/01/01/00:00:00
  .comment 今日もおつかれさま！！
  .group-main-content.cf
    .user_name USER_NAME
    .date 2000/01/01/00:00:00
  .comment 今日もおつかれさま！！
  .group-main-content.cf
    .user_name USER_NAME
    .date 2000/01/01/00:00:00
  .comment 今日もおつかれさま！！
  .group-comment-area
    .user_form.cf
      .type-area
        %textarea{:placeholder => "type a message"}
        %a.picture_button{:href => "#"}
          %i.fa.fa-picture-o{"aria-hidden" => "true"}
      .send_button
        %input{:name => "send", :type => "submit", :value => "send"}/
