header {
	background-color: #38AEF0;
	p{
		text-align: center;
		color:#ffffff;
	}
}
.main-content{
	position: relative;
	float: left;
	height: 100%;
	width: calc(100% - 300px);
	box-sizing:border-box;
	padding-left: 40px;
	padding-right: 40px;
	.group-name-bar{
		height: 15%;
		border-bottom:solid 1px #eeeeee;
		width: 100%;
		.name-plate{
			width: 100%;
			height: 100%;
			position: relative;
			.name-bar{
				padding-top: 35px;
				padding-bottom: 15px;
				margin: auto;
				h2{	
					color: #3333333;
					font-size: 20px;
					margin-bottom: 15px;
				}
				p{
					font-size: 12px;
					color:#9999999;
				}
			}	
			.edit-button{
				right: 40px;
				top: 35%;
				position: absolute;
				border: solid 1px #38AEF0;
				padding: 12.5px 20px;
				text-decoration: none;
				color: #38AEF0;
				box-sizing:border-box;
				font-size: 15px;
			}
		}
	}
	.main-chat-content{
		overflow-y: scroll;
		height: calc( 100vh - 15% - 90px );
		.group-main-content{
			margin-top: 46px;
			margin-bottom: 10px;
				.user_name{
					float: left;
					font-weight: bold;
					font-size: 15px;
					margin-right: 10px;
				}
				.date{
					font-size: 11px;
					float: left;
					color: gray;
				}
			.comment{
				font-size: 15px;
			}
		}
	}	
	.group-comment-area{
		background-color: #B8C3C7;
		position: absolute;
		width: 100%;
		height: 90px;
		bottom:0;
		left:0;
		.user_form{
			margin: 20px 40px;
			.type-area{
				float: left;
				width: calc(100% - 130px);
				position: relative;
					textarea{
						height: 50px;
						width: 100%;
						border:none;
						resize:none;
						box-sizing:border-box;
						padding: 10px 15px;
					}
					.picture_button{
						position: absolute;
						bottom: 40%;
						right: 10px;
						.fa-picture-o{
							color: black;
						}
					}
					.picture_file_field{
						display: none;
					}	
			}
			.send_button{
				float: left;
				margin-left: 15px;
				
				input{
					background-color: #38AEF0;
					color:#ffffff;
					height: 50px;
					width: 100px;
				}
			}
		}	
	}
}
.cf:after{
content: "";
display: block;
clear: both;
}
